# Ignore cropped images
ML-Benjamin/data/crops/

# Ignore archive dataset
ML-Benjamin/archive/

# Ignore model files if you want (optional)
ML-Benjamin/src/models/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store