# Ignore cropped images
ML-HOG_and_RandomForest/data/crops/

# Ignore archive dataset
ML-HOG_and_RandomForest/archive/

# Ignore model files 
ML-HOG_and_RandomForest/src/models/

# Ignore readme
README.md

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store